services:
  node:
    container_name: chubbyts-framework-skeleton-node
    hostname: chubbyts-framework-skeleton-node
    build:
      dockerfile: ./docker/development/node/Dockerfile
      context: ./
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    environment:
      NODE_ENV: development
      SERVER_HOST: '0.0.0.0'
      SERVER_PORT: '1234'
      SSH_AUTH_SOCK: /ssh-agent
    ports:
      - '1235:1235'
    volumes:
      - ${PWD}:/app
      - ~/.bash_docker:/home/php/.bash_docker
      - ~/.bash_history:/home/php/.bash_history
      - ~/.gitconfig:/home/php/.gitconfig
      - ~/.gitignore:/home/php/.gitignore
      - ~/.zsh_docker:/home/php/.zsh_docker
      - ~/.zsh_history:/home/php/.zsh_history
      - $SSH_AUTH_SOCK:/ssh-agent
  nginx:
    container_name: chubbyts-framework-skeleton-nginx
    hostname: chubbyts-framework-skeleton-nginx
    image: nginx:1
    environment:
      SERVER_PORT: '443'
      NODE_SERVER_HOST: 'node'
      NODE_SERVER_PORT: '1234'
    ports:
      - '443:443'
    volumes:
      - ./docker/development/nginx:/etc/nginx/templates
    depends_on:
      - node
